.navigation {
    color: #e5e5e5;
    background-color: transparent;
    display: flex;
    height: 68px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    margin: inherit;
}

.mainNavigation {
    display: flex;
}

.navigationList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigationItem {
    margin-left: 1rem;
    font-size: 0.8 rem;
}

.navigationItem a {
    text-decoration: none;
    color: inherit;
}

.brand_logo {
    color: #e50914;
    max-width: 92px;
    height: fit-content;
}